.FixedMenu {
  margin-bottom: 0 !important;
  max-width: 1920px;
  left: auto !important;
}

.SignUpButton {
  margin-left: 0.5em !important;
}

.LoginButton {
  margin-left: 2em !important;
}

.CenteredContent {
  align-self: center !important;
}
